<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
<!-- <nav class="navbar navbar-expand-lg fixed-top" color-on-scroll="500"> -->
<div class="container">
        <div class="navbar-translate">
            <img class="ml-3" style="width: 40px;" src="./../../../assets/img/logo.png">
            <!-- <a class="navbar-brand" [routerLink]="['/home']">Flash P</a> -->
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <!-- <li class="nav-item" *ngIf="!isDocumentation()">
                    <a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom" href="https://twitter.com/CreativeTim" target="_blank">
                        <i class="fa fa-twitter"></i>
                        <p class="d-lg-none">Twitter</p>
                    </a>
                </li>
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com/CreativeTim" target="_blank">
                        <i class="fa fa-facebook-square"></i>
                        <p class="d-lg-none">Facebook</p>
                    </a>
                </li>
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="https://www.instagram.com/CreativeTimOfficial" target="_blank">
                        <i class="fa fa-instagram"></i>
                        <p class="d-lg-none">Instagram</p>
                    </a>
                </li>
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a class="nav-link" rel="tooltip" title="Star on GitHub" data-placement="bottom" href="https://www.github.com/CreativeTimOfficial/paper-kit-2-angular" target="_blank">
                        <i class="fa fa-github"></i>
                        <p class="d-lg-none">GitHub</p>
                    </a>
                </li> -->
                <li class="nav-item">
                    <a *ngIf="breadcrumb.title == 'Home'" class="nav-link ml-0 mr-5 " href="#">{{breadcrumb.title}}</a>
                    <a *ngIf="breadcrumb.title != 'Home'" class="nav-link ml-0 mr-5 " href="#">HOME / {{breadcrumb.title}}</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link ml-0 mr-0 " [routerLink]="['/login']" style="padding: 10px 5px;">Ingresar</a>
                </li>

                <li class="nav-item" >
                    <a class="nav-link ml-0 mr-0 " [routerLink]="['/signup']" style="padding: 10px 5px;">Registrar</a>
                </li>

                <li class="nav-item" >
                    <div class="icon "  style="color: white;">
                        <i class="nav-link ml-1 mr-0 nc-icon nc-cart-simple" (click)="cart();" style="font-size: 18px;margin-top: 10px;"></i>
                        <div style="background-color: tomato; width: 15px; height: 155x; font-size: 12px; color: white; border-radius: 50%; position: relative;text-align: center; padding: 0px; top: -39px; right: -30px;">3</div>
                    </div>                
                </li>
                <!-- <li class="nav-item" *ngIf="isHome()">
                    <a href="https://www.creative-tim.com/product/paper-kit-2-pro-angular?ref=pk2-angular-free-local" target="_blank" class="btn btn-danger btn-round">Upgrade to Pro</a>
                </li>
                <li class="nav-item" *ngIf="!isHome()">
                    <a [routerLink]="['/home']" *ngIf="!isDocumentation()" class="nav-link"><i class="nc-icon nc-layout-11"></i>Components</a>
                    <a [routerLink]="['/home']" *ngIf="isDocumentation()" class="nav-link">Back to Kit</a>
                </li>
                <li class="nav-item" *ngIf="isDocumentation()">
                    <a href="https://github.com/creativetimofficial/paper-kit-2-angular/issues?ref=pk2-free-local" target="_blank" class="nav-link">Have an issue</a>
                </li> -->
            </ul>
        </div>
    </div>

</nav>


