<div class="card"  *ngFor="let prod of ciudad" (click)="VerDetalle(prod.id)">
  <img src="{{prod.img}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h3 class="card-title" style="font-size: 20px;">{{prod.nombre}}</h3>
    <p class="card-text">{{prod.des}}</p><br>
    <p class="card-text"><small class="text-muted">¡Excelente ubicación! 9.5</small></p><br>
    <p class="card-text">{{prod.ciudad}}</p><br>
    <p style="text-align: right;">${{prod.precio}} MXN</p>
    <p><a class="btn btn-danger btn-round-lg" 
      (click)="search(txtSearch.value)" 
      type="button">Detalle</a></p>
      <div class="cta">
        <button class="btn"onclick="location.href='http://localhost:4200/#/cart'">Add to cart<span class="bg" ></span></button>
      </div>
      <div class="bg"></div>
  </div>
</div>