<div class="card"  *ngFor="let prod of ciudad" (click)="VerDetalle(prod.id)">
  <img src="{{prod.img}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h3 class="card-title" style="font-size: 20px;">{{prod.nombre}}</h3>
    <p class="card-text">{{prod.des}}</p><br>
    <p class="card-text"><small class="text-muted">¡Excelente ubicación! 9.5</small></p><br>
    <p style="text-align: right;">${{prod.precio}} MXN</p>
    <p><a class="btn btn-danger btn-round" 
      (click)="search(txtSearch.value)" 
      type="button" style="margin-top: 32px; background-color:
       #DE503E; border-color: #DE503E;">Reservar</a></p>
  </div>
</div>