

  <div class="page-header" style="background-image: url('assets/img/ilya-yakover.jpg'); ">
  <div class="container">
          
    <h2 class="title ml-3" style=" font-size: 30px; font-weight: 500;">Carrito</h2>
    <br>
      <div class="row">
          <div class="col-md-6">
            <table class="table table-dark table-striped table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">First</th>
                  <th scope="col">Last</th>
                  <th scope="col">Handle</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-6">
            <h2 class="title">Encontra tu destino ideal al mejor precio </h2>
            <h5 class="description">FlashP es una plataforma desarrollada por mexicanos para el mundo, fomentando una comunidad hotelera de locales que ofrezcan a sus usuarios las mejores experiencias que estan buscando para conocer mexico, su cultura, su gastronomia y la calidez de su gente.</h5>
            <br>
          </div>

      </div>

  </div>
