<!--<div class="card" *ngFor="let prod of ciudad">
  <img src="{{prod.img}}" class="card-img-top" alt="...">
    <h5 class="card-header">Featured</h5>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>-->
<div class="section section-image section-login" style="background-image: url('assets/img/ilya-yakover.jpg');">
  <div class="container">

      <h2 class="title ml-3 mt-10" style="font-family: Montserrat,Helvetica,Arial,sans-serif; font-size: 30px; font-weight: 400;">{{searching}}</h2>


      <div class="m-3" style="padding-bottom: 20px;">

        <app-card [ciudad] = "ciudad"></app-card>

    </div>
  </div>
</div>