<!--<div class="card" *ngFor="let prod of ciudad">
  <img src="{{prod.img}}" class="card-img-top" alt="...">
    <h5 class="card-header">Featured</h5>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>-->

  <div class="card-columns m-3">
      <div class="card" *ngFor="let prod of ciudad">
          <img src="{{prod.img}}" class="card-img-top" alt="...">
          <div class="card-body">
          <h5 class="card-title" style="font-size: 15px;">{{prod.nombre}}</h5>
          <p class="card-text">{{prod.des}}</p>
          <p class="card-text"><small class="text-muted">¡Excelente ubicación!			9.5</small></p>
          </div>
      </div>
  </div> 