
<div class="page-header" style="background-image: url('assets/img/ilya-yakover.jpg');">
  <div class="container" >
    
    <h2 class="title ml-3" style="font-family: Montserrat,Helvetica,Arial,sans-serif; font-size: 30px; font-weight: 400;">{{habitacion.nombre}}</h2>
    <br>
        <div class="mt-10 row">
      <div class="col-md-6">
        <div class="card page-carousel">
          <ngb-carousel>
            <ng-template ngbSlide *ngFor="let img of habitacion.img">
              <img src="{{img}}" alt="Random first slide">
              <div class="carousel-caption">
                <!-- <p>Somewhere</p> -->
              </div>
            </ng-template>
  
          </ngb-carousel>
        </div>
      </div>
      <div class="col-md-6"  style="color:white">


          <h3>{{habitacion.des}}</h3>
                  <h3>Hotel: {{habitacion.hotelId}}</h3>
                  <h3>Tipo de habitacion: {{habitacion.tipo}}</h3>
                  <h3>Capacidad de personas: {{habitacion.cantidad}}</h3>
                  <h3>Numero de Camas: {{habitacion.camas}}</h3>
                  <h3>Precio: {{habitacion.precio}}</h3>

        <h3 class="title ml-3 mt-10" 
        
        style="font-family: Montserrat,Helvetica,Arial,sans-serif; font-size: 23px; text-align: right; font-weight: 400;">${{habitacion.precio}}.00 MXN</h3>

      </div>


    </div>
  </div>
</div>